@model Provider
@{
    ViewBag.Title = "编辑供应商 - " + Model.Title;
}

<style>
    .refused {
        display: none;
    }
</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditProvider", "Shop", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="detail-table">
        <tr>
            <td class="row-title">供应商名称</td>
            <td>@Html.TextBoxFor(x => x.Title, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">状态</td>
            <td>
                @Html.EnumDropDownListFor(x => x.Status)
            </td>
        </tr>
        <tr class="refused">
            <td class="row-title">驳回原因</td>
            <td>@Html.TextAreaFor(x => x.Reason, new { @class = "textbox w-3", style = "height: 120px" })</td>
        </tr>
        <tr>
            <td class="row-title">供应商简介</td>
            <td>@Html.TextAreaFor(x => x.Description, new { @class = "textbox w-3", style = "height: 120px" })</td>
        </tr>
        <tr>
            <td class="row-title">供应商地址</td>
            <td>@Html.TextBoxFor(x => x.Address, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">联系人姓名</td>
            <td>@Html.TextBoxFor(x => x.Name, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">联系人手机</td>
            <td>@Html.TextBoxFor(x => x.Phone, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">联系人座机</td>
            <td>@Html.TextBoxFor(x => x.Tel, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">联系人电子邮箱</td>
            <td>@Html.TextBoxFor(x => x.Email, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">供应商环境或产品照</td>
            <td>
                <p><img src="/Shop/ProviderImg/@Model.ID?index=5" /></p>
                <p><input type="file" name="Picture" /></p>
            </td>
        <tr>
            <td class="row-title">营业执照</td>
            <td>
                <p><img src="/Shop/ProviderImg/@Model.ID?index=5" /></p>
                <p><input type="file" name="BusinessLicence" /></p>
            </td>
        <tr>
            <td class="row-title">组织机构代码证</td>
            <td>
                <p><img src="/Shop/ProviderImg/@Model.ID?index=5" /></p>
                <p><input type="file" name="OrganizationRegistrationCodeCertificate" /></p>
            </td>
        <tr>
            <td class="row-title">税务登记证</td>
            <td>
                <p><img src="/Shop/ProviderImg/@Model.ID?index=5" /></p>
                <p><input type="file" name="TaxRegistrationCertificate" /></p>
            </td>
        <tr>
            <td class="row-title">法定代表人身份证</td>
            <td>
                <p><img src="/Shop/ProviderImg/@Model.ID?index=5" /></p>
                <p><input type="file" name="ArtificialPersonIdentityCard" /></p>
            </td>
        </tr>
    </table>
    <p><input type="submit" value="创建" class="btn inverse" /></p>
}

<script>
    $("#Status").change(function () {
        if ($(this).val() == "审核驳回") {
            $(".refused").show();
        }
        else {
            $(".refused").hide();
        }
    });
</script>