@model IEnumerable<OrderDetail>
@{
    Layout = null; 
}

<style>
    td, th {
        padding: 3px;
    }

    table {
        font-size: 9px;
        text-align: left;
        border-collapse: collapse;
        border-spacing: 0;
    }

    td {
        border: 1px solid #ccc;
    }
</style>
<button onclick="window.print()">打印</button>

<h2>财务详情</h2>
<table class="table">
    <thead>
        <tr>
            <th>地址</th>
            <th>产品编码</th>
            <th>产品名</th>
            <th>供应商</th>
            <th>数量</th>
            <th>规格</th>
            <th>单位</th>
            <th>总金额</th>
            <th>付款时间</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var od in Model)
        {
            <tr>
                <td>@od.Order.Address</td>
                <td>@od.Product.ProductCode</td>
                <td>@od.Product.Title</td>
                <td>@(od.Product.ProviderID == null ? "无" : od.Product.Provider.Title)</td>
                <td>@od.Count</td>
                <td>@od.Product.Standard</td>
                <td>@od.Product.Unit</td>
                <td>￥@od.Price.ToString("0.00")</td>
                <td>@od.Order.PayTime.Value.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
<p>总计：￥@Model.Sum(x => x.Price).ToString("0.00")</p>
<br />

<h2>供应商报表</h2>
<table class="detail-table">
    @foreach (var i in (from od in Model where od.Product.ProviderID != null group od by od.Product.Provider.Title into g select new { Title = g.Key, Price = g.Sum(x => x.Price) }))
    {
        <tr>
            <td>@i.Title</td>
            <td>￥@i.Price.ToString("0.00")</td>
        </tr>
    }
</table>

<h2>大区经理报表</h2>
<table class="detail-table" style="text-align: center">
    <tr>
        <td style="text-align: left">大区经理</td>
        @foreach (vArea a in ViewBag.Area)
        {
            <td colspan="@a.Service.Count">@a.Manager</td>
        }
    </tr>
    <tr>
        <td style="text-align: left">服务站</td>
        @foreach (vArea a in ViewBag.Area)
        {
            foreach (var b in a.Service)
            {
                <td>@b.Service</td>
            }
        }
    </tr>
    <tr>
        <td style="text-align: left">金额</td>
        @foreach (vArea a in ViewBag.Area)
        {
            foreach (var b in a.Service)
            {
                <td>￥@b.Price.ToString("0.00")</td>
            }
        }
    </tr>
</table>