@model IEnumerable<OrderDetail>
@{
    ViewBag.Title = "财务报表";
}

<h2>@ViewBag.Title</h2>

<form class="search">
    检索：
    <input type="text" name="Begin" class="textbox w-0-8 datetime" placeholder="时间(大于)" value="@Request.QueryString["Begin"]" />
    <input type="text" name="End" class="textbox w-0-8 datetime" placeholder="时间(小于)" value="@Request.QueryString["End"]" />
    <input type="text" name="Username" class="textbox w-0-8" placeholder="手机号" value="@Request.QueryString["Username"]" />
    <input type="text" name="Name" class="textbox w-0-8" placeholder="姓名" value="@Request.QueryString["Name"]" />
    <input type="text" name="Address" class="textbox w-0-8" placeholder="地址" value="@Request.QueryString["Address"]" />
    <input type="text" name="ProductCode" class="textbox w-0-8" placeholder="产品编码" value="@Request.QueryString["ProductCode"]" />
    <input type="submit" class="btn" value="检索" />
    <a class="btn" target="_blank" href="/Shop/Finance?raw=true&Begin=@Request.QueryString["Begin"]&End=@Request.QueryString["End"]&Name=@Request.QueryString["Name"]&Username=@Request.QueryString["Username"]&ProductCode=@Request.QueryString["ProductCode"]&Address=@Request.QueryString["Address"]">打印</a>
    <a class="btn" href="/Shop/Finance?xls=true&Begin=@Request.QueryString["Begin"]&End=@Request.QueryString["End"]&Name=@Request.QueryString["Name"]&Username=@Request.QueryString["Username"]&ProductCode=@Request.QueryString["ProductCode"]&Address=@Request.QueryString["Address"]">导出</a>
</form>

<h2>财务详情</h2>
<table class="table">
    <thead>
        <tr>
            <th>地址</th>
            <th>产品编码</th>
            <th>产品名</th>
            <th>供应商</th>
            <th>数量</th>
            <th>规格</th>
            <th>单位</th>
            <th>单价</th>
            <th>总金额</th>
            <th>付款时间</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var od in Model)
        {
            <tr>
                <td>@od.Order.Address</td>
                <td>@od.Product.ProductCode</td>
                <td>@od.Product.Title</td>
                <td>@(od.Product.ProviderID == null ? "无" : od.Product.Provider.Title)</td>
                <td>@od.Count</td>
                <td>@od.Product.Standard</td>
                <td>@od.Product.Unit</td>
                <td>￥@od.Price.ToString("0.00")</td>
                <td>￥@((od.Price / od.Count).ToString("0.00"))</td>
                @if (od.Order.PayTime.HasValue)
                {
                <td>@od.Order.PayTime.Value.ToString("yyyy-MM-dd")</td>
                }
                else
                {
                <td>-</td>
                }
            </tr>
        }
    </tbody>
</table>
<p>总计：￥@Model.Sum(x => x.Price).ToString("0.00")</p>
<br />

<h2>供应商报表</h2>
<table class="detail-table">
    @foreach (var i in (from od in Model where od.Product.ProviderID != null group od by od.Product.Provider.Title into g select new { Title = g.Key, Price = g.Sum(x => x.Price) }).ToList())
    {
        <tr>
            <td>@i.Title</td>
            <td>￥@i.Price.ToString("0.00")</td>
        </tr>
    }
</table>

<h2>大区经理报表</h2>
<table class="detail-table">
    <tr>
        <td>大区经理</td>
        <td>服务站</td>
        <td>金额</td>
    </tr>
    @foreach (vArea a in ViewBag.Area)
    {
        <tr>
            <td rowspan="@a.Service.Count">@a.Manager (￥@(a.Service.Sum(x => x.Price).ToString("0.00")))</td>
            @if (a.Service.Count > 0)
            {
                <td>@a.Service[0].Service</td>
                <td>@a.Service[0].Price.ToString("0.00")</td>
            }
        </tr>
        for (var i = 1; i < a.Service.Count; i++)
        {
            <tr>

                <td>@a.Service[i].Service</td>
                <td>@a.Service[i].Price.ToString("0.00")</td>
            </tr>
        }
    }
</table>