@model IEnumerable<Order>
@{
    ViewBag.Title = "订单管理";
}

<h2>@ViewBag.Title</h2>

<form class="search">
    检索：
    <input name="ID" type="text" class="textbox w-0-6" placeholder="订单号" value="@Request.QueryString["ID"]" />
    <input name="Begin" type="text" class="textbox datetime w-0-8" placeholder="订单日期(大于)" value="@Request.QueryString["Begin"]" />
    <input name="End" type="text" class="textbox datetime w-0-8" placeholder="订单日期(小于)" value="@Request.QueryString["End"]" />
    <input name="Name" type="text" class="textbox w-0-6" placeholder="姓名" value="@Request.QueryString["Name"]" />
    <input name="Address" type="text" class="textbox w-0-6" placeholder="地址" value="@Request.QueryString["Address"]" />
    <input name="Phone" type="text" class="textbox w-0-6" placeholder="联系电话" value="@Request.QueryString["Phone"]" />
    <select name="Status">
        <option value="">订单状态</option>
        @foreach (var s in Enum.GetNames(typeof(OrderStatus)))
        {
            <option @(Request.QueryString["Status"] == s ? "selected" : "")>@s</option>
        }
    </select>
    <input type="submit" value="检索" class="btn" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>订单号</th>
            <th>下单用户</th>
            <th>下单日期</th>
            <th>状态</th>
            <th>金额</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.ID</td>
                <td>@o.User.Name @(o.User.Username)</td>
                <td>@o.Time</td>
                <td>@o.Status</td>
                <td>￥@o.OrderDetails.Sum(x => x.Price).ToString("0.00")</td>
                <td>
                    <a href="/Shop/ShowOrder/@o.ID">查看详情</a>
                    <a href="/Shop/EditOrder/@o.ID">修改状态</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.MakePager()