@model Information
@{
    ViewBag.Title = "发布信息";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Information", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="detail-table">
        <tr>
            <td class="row-title">分类</td>
            <td>
                <select id="lvl1">
                    <option>无</option>
                    @foreach (Catalog c in ViewBag.Level1)
                    {
                        <option value="@c.ID">@c.Title</option>
                    }
                </select>

                <select id="lvl2" data-parent-select="lvl1">
                    @foreach (Catalog c in ViewBag.Level2)
                    {
                        <option data-parent-id="@c.FatherID" value="@c.ID">@c.Title</option>
                    }
                </select>

                <select id="lvl3" data-parent-select="lvl2">
                    @foreach (Catalog c in ViewBag.Level3)
                    {
                        <option data-parent-id="@c.FatherID" value="@c.ID">@c.Title</option>
                    }
                </select>

                <select id="lvl4" data-parent-select="lvl3" name="CatalogID">
                    @foreach (Catalog c in ViewBag.Level4)
                    {
                        <option data-parent-id="@c.FatherID" value="@c.ID">@c.Title</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="row-title">标题</td>
            <td>@Html.TextBoxFor(x => x.Title, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">内容</td>
            <td>@Html.TextAreaFor(x => x.Description, new { @class = "ckeditor" })</td>
        </tr>
        <tr>
            <td class="row-title">视频（可选）</td>
            <td>
                <input type="file" name="Video" />
            </td>
        </tr>
    </table>
    <p><input type="submit" class="btn inverse" value="发布" /></p>
}