@model User
@{
    ViewBag.Title = "添加用户";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "User", null, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <table class="detail-table">
        <tr>
            <td class="row-title">用户名(手机号)</td>
            <td>@Html.TextBoxFor(x => x.Username, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">密码</td>
            <td>@Html.PasswordFor(x => x.Password, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">密码重复</td>
            <td>@Html.Password("Confirm", "", new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">角色</td>
            <td>@Html.EnumDropDownListFor(x => x.Role)</td>
        </tr>
        <tr>
            <td class="row-title">真实姓名</td>
            <td>@Html.TextBoxFor(x => x.Name, new { @class = "textbox w-3" })</td>
        </tr>
    </table>
    <p><input type="submit" value="保存" class="btn inverse" /></p>
}