@model User
@{
    ViewBag.Title = Model.Username + " - 编辑用户";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "User", new { id = @Model.ID }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <table class="detail-table">
        <tr>
            <td class="row-title">用户ID</td>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <td class="row-title">用户名(手机号)</td>
            <td>@Html.TextBoxFor(x => x.Username, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">密码</td>
            <td>@Html.PasswordFor(x => x.Password, new { @class = "textbox w-3 nullable" }) 不修改请留空</td>
        </tr>
        <tr>
            <td class="row-title">角色</td>
            <td>@Html.EnumDropDownListFor(x => x.Role)</td>
        </tr>
        <tr>
            <td class="row-title">真实姓名</td>
            <td>@Html.TextBoxFor(x => x.Name, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">地理位置</td>
            <td>
                <select id="province">
                    @foreach (Area a in ViewBag.Provinces)
                    {
                        <option @(Model.AreaID!=null&&Model.Area.Father.Father.Father.Father.FatherID == a.ID?"selected":"") value="@a.ID">@a.Title</option>
                    }
                </select>
                <select id="city" data-parent-select="province">
                    @foreach (Area a in ViewBag.Cities)
                    {
                        <option @(Model.AreaID!=null&&Model.Area.Father.Father.Father.FatherID == a.ID?"selected":"") data-parent-id="@a.FatherID" value="@a.ID">@a.Title</option>
                    }
                </select>
                <select id="district" data-parent-select="city">
                    @foreach (Area a in ViewBag.Districts)
                    {
                        <option @(Model.AreaID!=null&&Model.Area.Father.Father.FatherID == a.ID?"selected":"") data-parent-id="@a.FatherID" value="@a.ID">@a.Title</option@(Model.Area.Father.Father.Father.Father.FatherID>
                    }
                </select>
                <select id="town" data-parent-select="district">
                    @foreach (Area a in ViewBag.Towns)
                    {
                        <option @(Model.AreaID!=null&&Model.Area.Father.FatherID == a.ID?"selected":"") data-parent-id="@a.FatherID" value="@a.ID">@a.Title</option>
                    }
                </select>
                <select id="hamlet" data-parent-select="town">
                    @foreach (Area a in ViewBag.Hamlets)
                    {
                        <option @(Model.AreaID!=null&&Model.Area.FatherID == a.ID?"selected":"") data-parent-id="@a.FatherID" value="@a.ID">@a.Title</option>
                    }
                </select>
                <select id="village" data-parent-select="hamlet" name="AreaID">
                    @foreach (Area a in ViewBag.Villages)
                    {
                        <option @(Model.AreaID!=null&&Model.AreaID == a.ID?"selected":"") data-parent-id="@a.FatherID" value="@a.ID">@a.Title</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="row-title">详细位置</td>
            <td>@Html.TextBoxFor(x => x.Address, new { @class = "textbox w-3 nullable" })</td>
        </tr>
    </table>
    <p><input type="submit" value="保存" class="btn inverse" /></p>
}