@model IEnumerable<User>
@{
    ViewBag.Title = "用户管理";
}

<h2>用户管理 <a href="/User/Create" class="sub-menu-item">添加用户</a></h2>
<table class="table">
    <thead>
        <tr>
            <th>用户ID</th>
            <th>用户名(手机号)</th>
            <th>权限</th>
            <th>真实姓名</th>
            <th>地址</th>
            <th>详细地址</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr id="user-@u.ID">
                <td>@u.ID</td>
                <td>@u.Username</td>
                <td>@u.Role</td>
                <td>@u.Name</td>
                <td>
                    @{ Area i = u.AreaID == null ? null : u.Area; var result = ""; }
                    @while (i != null)
                    {
                        result = i.Title + result;
                        i = i.FatherID == null ? null : i.Father;
                        @result
                    }
                </td>
                <td>@u.Address</td>
                <td>
                    <a href="/User/Edit/@u.ID">编辑用户</a>
                    <a href="javascript: deleteDialog('/User/Delete/@u.ID', 'user-@u.ID')">删除用户</a>
                </td>
            </tr>
        }
    </tbody>
</table>
