@model Catalog
@{
    ViewBag.Title = Model.Title + " - 编辑分类";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RenameCatalog", "General", new { id = Model.ID }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <table class="detail-table">
        <tr>
            <td class="row-title">分类名称</td>
            <td>@Html.TextBox("Title", Model.Title, new { @class = "textbox w-3" })</td>
        </tr>c
        @if (Model.Level == 3 && Model.Type == CatalogType.农业信息分类)
        {
            <tr>
                <td class="row-title">可否评论</td>
                <td>
                    <select name="Commentable">
                        <option value="false" @(Model.Commentable ? "selected" : "")>禁止评论</option>
                        <option value="true" @(!Model.Commentable ? "selected" : "")>允许评论</option>
                    </select>
                </td>
            </tr>
        }
    </table>
    <p><input type="submit" class="btn inverse" value="保存" /> <a href="javascript: history.back();" class="btn">返回</a></p>
}