@model Information
@{
    ViewBag.Title = "二手农机";
    ViewBag.Back = true;
}
@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    <div class="list-outer">@Model.Title</div>
    <div class="list-outer">@Model.Description</div>
    <div class="list-outer">
        <div class="field">价格</div>@Model.Price
    </div>
    <div class="list-outer">
        <div class="field">联系人</div>@Model.Name
    </div>
    <div class="list-outer">
        <div class="field">联系电话</div><a href="tel:@Model.Phone">@Model.Phone</a>
    </div>
    <div class="list-outer">
        <div class="field">地址</div>@Model.Address
    </div>
</div>