@model Information
@{
    ViewBag.Title = "编辑信息";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Local", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="detail-table">
        <tr>
            <td class="row-title">分类</td>
            <td>
                <select id="lvl1">
                    <option>无</option>
                    @foreach (Catalog c in ViewBag.Level1)
                    {
                        <option @(Model.Catalog.Father.FatherID == c.ID ? "selected" : "") value="@c.ID">@c.Title</option>
                    }
                </select>

                <select id="lvl2" data-parent-select="lvl1">
                    @foreach (Catalog c in ViewBag.Level2)
                    {
                        <option @(Model.Catalog.FatherID == c.ID ? "selected" : "") data-parent-id="@c.FatherID" value="@c.ID">@c.Title</option>
                    }
                </select>

                <select id="lvl3" data-parent-select="lvl2" name="CatalogID">
                    @foreach (Catalog c in ViewBag.Level3)
                    {
                        <option @(Model.CatalogID == c.ID ? "selected" : "") data-parent-id="@c.FatherID" value="@c.ID">@c.Title</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="row-title">标题</td>
            <td>@Html.TextBoxFor(x => x.Title, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">供/求</td>
            <td>@Html.EnumDropDownListFor(x => x.SupplyDemand)</td>
        </tr>
        <tr>
            <td class="row-title">价格</td>
            <td>@Html.TextBoxFor(x => x.Price, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">详细描述</td>
            <td>@Html.TextAreaFor(x => x.Description, new { @class = "textbox w-3 nullable", style = "height: 120px" })</td>
        </tr>
        <tr>
            <td class="row-title">联系人</td>
            <td>@Html.TextBoxFor(x => x.Name, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">联系电话</td>
            <td>@Html.TextBoxFor(x => x.Phone, new { @class = "textbox w-3" })</td>
        </tr>
        <tr>
            <td class="row-title">地址</td>
            <td>@Html.TextBoxFor(x => x.Address, new { @class = "textbox w-3" })</td>
        </tr>
    </table>
    <p><input type="submit" class="btn inverse" value="保存" /></p>
}