@model Information
@{
    ViewBag.Title = "发布本地通信息";
    ViewBag.Back = true;
}
@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    @using (Html.BeginForm("CreateLocal", "Member", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="textbox-outer">
            <div class="field">标题</div>
            @Html.TextBoxFor(x => x.Title, new { @class = "textbox form" })
        </div>
        <div class="textbox-outer">
            <div class="field">描述</div>
            @Html.TextBoxFor(x => x.Description, new { @class = "textbox form" })
        </div>
        <div class="textbox-outer">
            <div class="field">价格</div>
            @Html.TextBoxFor(x => x.Price, new { @class = "textbox form" })
        </div>
        <div class="textbox-outer">
            <div class="field">供求类型</div>
            @Html.EnumDropDownListFor(x => x.SupplyDemand, new { @class="form" })
        </div>
        <div class="textbox-outer">
            <div class="field">分类1</div>
            <select id="lvl1" class="form">
                @foreach (Catalog c in ViewBag.Level1)
                {
                    <option value="@c.ID">@c.Title</option>
                }
            </select>
        </div>
        <div class="textbox-outer">
            <div class="field">分类2</div>
            <select id="lvl2" class="form" data-parent-select="lvl1">
                @foreach (Catalog c in ViewBag.Level2)
                {
                    <option data-parent-id="@c.FatherID" value="@c.ID">@c.Title</option>
                }
            </select>
        </div>
        <div class="textbox-outer">
            <div class="field">分类3</div>
            <select id="lvl3" class="form" data-parent-select="lvl2" name="CatalogID">
                <option>无</option>
                @foreach (Catalog c in ViewBag.Level3)
                {
                    <option data-parent-id="@c.FatherID" value="@c.ID">@c.Title</option>
                }
            </select>
        </div>
        <div class="textbox-outer">
            <div class="field">联系人</div>
            @Html.TextBoxFor(x => x.Name, new { @class = "textbox form", value = ViewBag.CurrentUser.Name })
        </div>
        <div class="textbox-outer">
            <div class="field">电话</div>
            @Html.TextBoxFor(x => x.Phone, new { @class = "textbox form", value = ViewBag.CurrentUser.Username })
        </div>
        <div class="textbox-outer">
            <div class="field">地址</div>
            @{
                var addr = "";
                if (ViewBag.CurrentUser.AreaID != null)
                {
                    if (ViewBag.CurrentUser.Area.Father.Father.Father.Father.Father.Title != "-")
                    {
                        addr += ViewBag.CurrentUser.Area.Father.Father.Father.Father.Father.Title;
                    }

                    if (ViewBag.CurrentUser.Area.Father.Father.Father.Father.Title != "-")
                    {
                        addr += ViewBag.CurrentUser.Area.Father.Father.Father.Father.Title;
                    }

                    if (ViewBag.CurrentUser.Area.Father.Father.Father.Title != "-")
                    {
                        addr += ViewBag.CurrentUser.Area.Father.Father.Father.Title;
                    }

                    if (ViewBag.CurrentUser.Area.Father.Father.Title != "-")
                    {
                        addr += ViewBag.CurrentUser.Area.Father.Father.Title;
                    }

                    if (ViewBag.CurrentUser.Area.Father.Title != "-")
                    {
                        addr += ViewBag.CurrentUser.Area.Father.Title;
                    }

                    if (ViewBag.CurrentUser.Area.Title != "-")
                    {
                        addr += ViewBag.CurrentUser.Area.Title;
                    }
                }
            }
            @Html.TextBoxFor(x => x.Address, new { @class = "textbox form", value = addr })
        </div>
        <div class="textbox-outer">
            <div class="field">视频上传（可选）</div>
            <input type="file" name="Video" class="form" />
        </div>
        <a href="javascript: $('form').submit();">
            <div class="btn">发布信息</div>
        </a>
    }
</div>