@{
    ViewBag.Title = "商城结算";
    ViewBag.Refresh = true;
    ViewBag.Back = true;
    ViewBag.Cart = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    <h3 style="text-align: center; padding-top:0.6em">共计 <span style="color: orange">￥@Convert.ToDouble(ViewBag.Price).ToString("0.00")</span></h3>
    <a href="#">
        <div class="list-outer">
            <a href="javascript:WxpaySub()">微信支付</a>
            @using (Html.BeginForm("Wxpay", "Mall", FormMethod.Post, new { id = "frmWxpay", style = "display:none" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="wxOrderId" value="@ViewBag.OrderId" />
                <input type="hidden" name="wxPrice" value="@Convert.ToDouble(ViewBag.Price).ToString("0.00")" />
            }
        </div>
    </a>
    <a href="#">
        <div class="list-outer">
            <a href="javascript:AlipaySub()">支付宝支付</a>
            @using (Html.BeginForm("Alipay","Mall",FormMethod.Post,new { id="frmAlipay",style="display:none"}))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="aliOrderId" value="@ViewBag.OrderId" />
                <input type="hidden" name="aliPrice" value="@Convert.ToDouble(ViewBag.Price).ToString("0.00")"/>
            }
        </div>
    </a>
</div>
@Html.Partial("~/Areas/Mobile/Views/Shared/ShopNav.cshtml")
<script>
    function AlipaySub(){
        $("#frmAlipay").submit();
    }
    function WxpaySub() {
        $("#frmWxpay").submit();
    }
</script>