@model Information
@{
    ViewBag.Title = Model.Title;
    ViewBag.Back = true;
    ViewBag.Refresh = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    <div class="container">
        <div class="sub-title">@Model.Time.ToString("yyyy-MM-dd HH:mm")</div>
        <div>
            @if (!string.IsNullOrEmpty(Model.VideoURL))
            {
                @Html.VideoOrImg(Model.VideoURL)
            }
            @Html.Sanitized(Model.Description)
        </div>
        @if (Model.Catalog.Commentable)
        {
            <p style="color: #888;margin-left: 0.6em">
                评论
            </p>
            foreach (Comment c in ViewBag.Comments)
            {
                <div class="list-outer">
                    @c.User.Name (@c.Time.ToString("yyyy-MM-dd")):
                    <div class="sub-title">
                        @if (!string.IsNullOrEmpty(c.VideoURL))
                        {
                            @Html.VideoOrImg(c.VideoURL)
                        }
                        @c.Content
                    </div>
                </div>
            }
        }
        @if (User.Identity.IsAuthenticated && Model.Catalog.Commentable)
        {
            <p style="color: #888;margin-left: 0.6em">
                发表评论
            </p>
            using (Html.BeginForm("Comment", "MInformation", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@Model.ID" />
                <div class="list-outer">
                    <textarea name="Content" class="textbox" style="height: 5em" placeholder="请在此处填写评论内容"></textarea>
                </div>
                <div class="list-outer">
                    <div class="field">上传视频/图片</div><input type="file" name="Video" />
                </div>
                <a href="javascript: $('form').submit()">
                    <div class="btn">发表评论</div>
                </a>
            }
        }
    </div>
</div>