@model Information
@{
    ViewBag.Title = Model.Title;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    <div class="container">

        <div class="sub-title">@Model.Time.ToString("yyyy-MM-dd HH:mm")</div>
        <div>
            @Html.Sanitized(Model.Description)
        </div>
        @if (ViewBag.InformationComment)
        {
            <hr />
    <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="@Model.ID" data-title="@Model.Title" data-url="@Request.RawUrl.ToString()"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = { short_name: "longjiangyunnongye" };
                (function () {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript'; ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                     || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
    <!-- 多说公共JS代码 end -->
        }
    </div>
</div>